shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=!@types/react
public-hoist-pattern[]=!@types/react-dom
public-hoist-pattern[]=!react
public-hoist-pattern[]=!react-dom
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=.prisma
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@babel/plugin-transform-react-jsx
public-hoist-pattern[]=expo-image-picker
public-hoist-pattern[]=expo-apple-authentication
